fastapi==0.109.2
modelscope==1.17.1
numpy==1.26.4
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tornado==6.4
tqdm==4.66.5
transformers==4.44.0
uvicorn==0.27.1
addict==2.4.0
datasets==2.18.0
oss2==2.18.4
simplejson==3.19.3
sortedcontainers==2.4.0
pymilvus==2.4.7